body {
    margin: 0; 
    padding: 0; 
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0b1522;
}


.heart {
    height: 70px;
    width: 70px;
    background: #f20044;
    position: relative;
    transform: rotate(-45deg);
    box-shadow: -10px 10px 90px #f20044;
    animation: heart 0.6s linear infinite, glow 1s linear infinite;
}

@keyframes heart{
    0% {
        transform: rotate(-45deg) scale(1.07);
    }
    80% {
        transform: rotate(-45deg) scale(1.0);
    }
    100% {
        transform: rotate(-45deg) scale(0.8);
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px #f20044, 0 0 10px #f20044, 0 0 20px #f20044, 0 0 40px #f20044;
    }

    100% {
        box-shadow: 0 0 20px #f20044, 0 0 30px #f20044, 0 0 40px #f20044, 0 0 50px #f20044;
    }
}

@keyframes fadeIn {
    from { opacity: 0;}
    to { opacity: 1;}
}


.heart::before {
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    top: -50%;
    border-radius: 50px;
    box-shadow: -10px -10px 90px #f20044;
}
.heart::after {
    content: '';
    position: absolute;
    height: 70px;
    width: 70px;
    background: #f20044;
    right: -50%;
    border-radius: 50px;
    box-shadow: 10px 10px 90px #f20044;
}

h2 {
    color: #f20044;
    text-align: center;
    margin-bottom: 75px;
    font-family: 'Dancing Script', cursive;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: fadeIn 2s ease-in; 
}

.personal-message {
    color: #fff; 
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    margin-top: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: fadeIn 2s ease-in;
}

